<section>

<div class="bg-color1">
  <fieldset>
    <label>Team1</label>
    {{input type="text" value=model.team1Name key-press="update"}}
  </fieldset>

  <fieldset>
    <label>Team2</label>
    {{input type="text" value=model.team2Name key-press="update"}}
  </fieldset>
</div>

<div class="bg-color2">
  <fieldset>
    <label>Balls</label>
    <button {{action 'set' 'balls' '0'}}>clear</button>
    <button {{bind-attr class="ball1"}} {{action 'set' 'balls' 1}}>1</button>
    <button {{bind-attr class="ball2"}} {{action 'set' 'balls' 2}}>2</button>
    <button {{bind-attr class="ball3"}} {{action 'set' 'balls' 3}}>3</button>
  </fieldset>

  <fieldset>
    <label>Strikes</label>
    <button {{action 'set' 'strikes' 0}}>clear</button>
    <button {{bind-attr class="strike1"}} {{action 'set' 'strikes' 1}}>1</button>
    <button {{bind-attr class="strike2"}} {{action 'set' 'strikes' 2}}>2</button>
  </fieldset>

  <fieldset>
    <label>Outs</label>
    <button {{action 'set' 'outs' 0}}>clear</button>
    <button {{bind-attr class="out1"}} {{action 'set' 'outs' 1}}>1</button>
    <button {{bind-attr class="out2"}} {{action 'set' 'outs' 2}}>2</button>
  </fieldset>
</div>

<div class="bg-color1">
  <fieldset>
    <label>{{model.topBottom}}
      <button {{action 'toggle' 'topBottom'}}>+</button>
      of the {{inning-suffix model.inning}}
      <button {{action 'valueUp' 'inning'}}>+</button>
    <button {{action 'valueDown' 'inning'}}>-</button>
    </label>
  </fieldset>
</div>

<div class="bg-color2">
  <h3>{{model.team1Name}}</h3>
  <fieldset>
    <label>Runs: {{model.team1Runs}}
      <button {{action 'valueUp' 'team1Runs'}}>+</button>
      <button {{action 'valueDown' 'team1Runs'}}>-</button>
    </label>

    <label>Hits: {{model.team1Hits}}
      <button {{action 'valueUp' 'team1Hits'}}>+</button>
      <button {{action 'valueDown' 'team1Hits'}}>-</button>
    </label>

    <label>Errors: {{model.team1Errors}}
      <button {{action 'valueUp' 'team1Errors'}}>+</button>
      <button {{action 'valueDown' 'team1Errors'}}>-</button>
    </label>
  </fieldset>
</div>

<div class="bg-color1">
  <h3>{{model.team2Name}}</h3>
  <fieldset>
    <label>Runs: {{model.team2Runs}}
      <button {{action 'valueUp' 'team2Runs'}}>+</button>
      <button {{action 'valueDown' 'team2Runs'}}>-</button>
    </label>

    <label>Hits: {{model.team2Hits}}
      <button {{action 'valueUp' 'team2Hits'}}>+</button>
      <button {{action 'valueDown' 'team2Hits'}}>-</button>
    </label>

    <label>Errors: {{model.team2Errors}}
      <button {{action 'valueUp' 'team2Errors'}}>+</button>
      <button {{action 'valueDown' 'team2Errors'}}>-</button>
    </label>
  </fieldset>
</div>

<div class="bg-color2">
  <fieldset>
    <label>Pitching</label>
    {{input type="text" value=model.pitching key-press="update"}}
  </fieldset>

  <fieldset>
    <label>Batting</label>
    {{input type="text" value=model.atBat key-press="update"}}
  </fieldset>
</div>

</section>