<section>

  <div class="teams">
    <h1>{{model.team1Name}} vs. {{model.team2Name}}</h1>
  </div>

  <div class="score">
    <h2>
      {{model.team1Runs}} - {{model.team2Runs}}
    </h2>
  </div>

  <div class="inning">
    {{model.topBottom}} of the {{inning-suffix model.inning}}
  </div>

  <div class="count">
    {{model.balls}} Balls {{model.strikes}} Strikes {{model.outs}} Outs
  </div>

  <div class="box-score">
    <div>
      <span class="box-score-title">Runs</span>
      <span class="box-score-title">Hits</span>
      <span class="box-score-title">Errors</span>
    </div>
    <div>
      <span class="box-score-value">{{model.team1Runs}}</span>
      <span class="box-score-value">{{model.team1Hits}}</span>
      <span class="box-score-value">{{model.team1Errors}}</span>
    </div>
    <div>
      <span class="box-score-value">{{model.team2Runs}}</span>
      <span class="box-score-value">{{model.team2Hits}}</span>
      <span class="box-score-value">{{model.team2Errors}}</span>
    </div>
  </div>

  <div class="info">
    <div>
      <span class="info-left">Pitching:</span>
      <span class="info-right">{{model.pitching}}</span>
    </div>
    <div>
      <span class="info-left">At Bat:</span>
      <span class="info-right">{{model.atBat}}</span>
    </div>
  </div>

</section>